* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: pink;
}
#game-area {
    height: 120px;
    width: 60px;
    background-color: gray;
}
p {
    color: whitesmoke;
}